# Jac project
packages/
.jac_cache/
*.jbc
*.jir
__jaccache__/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
algo_env/
.jaccache

# IDE
.idea/
.vscode/
*.swp

# Node.js
node_modules/
package-lock.json

# Jac Client
.client-build/
*.session
*.session-shm
*.session-wal
*.session.*
.env
package.json
*.bak
*.dat
*.dir
.jac